<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="footer-naas has-en">
                    <span class="lang-pt"><span class="naas-prompt">$</span> um projeto de <a href="https://himundo.com"
                            target="_blank" rel="noopener">_hi.mundo!</a></span>
                    <span class="lang-en"><span class="naas-prompt">$</span> a <a href="https://himundo.com"
                            target="_blank" rel="noopener">_hi.mundo!</a> project</span>
                </p>
                <p class="footer-contact has-en">
                    <span class="lang-pt"><a
                            href="mailto:contato@odisseiadoputo.cc">contato@odisseiadoputo.cc</a></span>
                    <span class="lang-en"><a
                            href="mailto:contato@odisseiadoputo.cc">contato@odisseiadoputo.cc</a></span>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ " /js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ " /js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ " /js/clean-blog.min.js " | prepend: site.baseurl }}"></script>