<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/img/logo.png" alt="{{ site.title }}" class="navbar-logo" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="mode-switcher-li">
                    <span class="mode-label">Modo:</span>
                    <button id="mode-toggle" class="mode-btn" title="Alternar Modo Leitura">
                        <span class="mode-icon-2003">💾 2003</span>
                        <span class="mode-icon-read" style="display:none;">📖 Ler</span>
                    </button>
                </li>
                <li class="lang-switcher">
                    <span class="lang-label" data-pt="Idioma:" data-en="Language:">Idioma:</span>
                    <button type="button" class="lang-btn lang-btn-pt" data-lang="pt" aria-pressed="true">PT</button>
                    <button type="button" class="lang-btn lang-btn-en" data-lang="en" aria-pressed="false">EN</button>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/about/" data-pt="Sobre" data-en="About">Sobre</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/apoie/" data-pt="Apoie" data-en="Support">Apoie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>